<header class="text-gray-600 body-font shadow mb-5">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <button (click)="backToPage()" class="inline-flex text-dark text-lg mr-3">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
      class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
      </svg>
    </button>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 ms-3">
      <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
    </svg>
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <span class="ml-3 text-xl">Carrito de compra</span>
    </a>
  </div>
</header>

<section class="grid gap-1 mb-4 grid-cols-3">
  <div class="grid gap-1 grid-cols-2 col-span-2 ms-4 mb-4">
    @for ( itemCart of userCart; track itemCart ) {
      <div class="w-full col-span-1">
        <div class="p-4">
            <div
            class="shadow-xl h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
                @defer(on viewport) {
                  <img class="lg:h-48 md:h-36 w-full object-cover object-center" [src]="itemCart.image" alt="blog">
                } @placeholder {
                  <p class="h-[60px] w-full bg-gradient-to-r from-red-100 to-red-400 animate-pulse">Cargando</p>
                }
                <div class="p-6">
                    <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">Categoria: {{itemCart.category}}</h2>
                    <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{itemCart.name}}</h1>
                    <p class="leading-relaxed mb-3">
                      {{itemCart.description.length > 70? itemCart.description.slice(0, 70) + '...' : itemCart.description}}
                    </p>
                    <div class="flex items-center flex-wrap">
                        <button class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">Ver producto
                        <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M5 12h14"></path>
                            <path d="M12 5l7 7-7 7"></path>
                        </svg>
                        </button>
                        <button class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
                          <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                              <circle cx="12" cy="12" r="3"></circle>
                          </svg>1.2K
                        </button>
                        <button class="text-red-400 inline-flex items-center leading-none text-sm">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-1">
                            <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                          </svg> 6
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    } @empty {
      <div class="w-full col-span-1">
        <p class="text-lg">
          No hay productos agregados!
        </p>
      </div>
    }
  </div>
  <div class="grid gap-1 mb-4 me-4 grid-cols-4 col-span-1 h-auto">
    <div class="flex justify-center col-span-1 gap-1 me-4">
      <div class="w-1 h-1/2 bg-slate-500 opacity-65 rounded"></div>
    </div>
    <div class="w-full col-span-3 h-2/3">
      <div class="shadow-xl h-auto border-2 border-gray-100 border-opacity-60 rounded-lg overflow-hidden">
        <h1 class="text-xl font-medium p-4 text-gray-500">Conceptos de venta:</h1>
        @for ( itemCart of userCart; track itemCart; let i = $index ) {
          <div class="flex items-center justify-between h-37 border-2 border-zinc-100 rounded-lg bg-white mb-4 mx-2 hover:border-zinc-200 hover:shadow-lg transform hover:scale-105 transition-transform">
            <div class="flex items-center">
              @defer(on viewport) {
                <img class="rounded-full w-16 h-16 p-1 object-cover object-center" [src]="itemCart.image" alt="Image" />
              } @placeholder {
                <p class="h-[60px] w-full bg-gradient-to-r from-red-100 to-red-400 animate-pulse">Cargando</p>
              }
              <div class="ml-2">
                <h1>{{i + 1}}° {{itemCart.name}}</h1>
                <p class="text font-light text-gray-500">Precio: <strong>{{itemCart.price | currency}}</strong></p>
                <p class="text font-light text-gray-500">Cantidad: <strong>{{5}}</strong></p>
              </div>
            </div>
            <div class="items-end justify-end">
              <button appTooltip="Borrar" (click)="removeFromCart(itemCart)"
              class="px-4 py-1 me-2 text-sm text-red-400 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
              </button>
            </div>
          </div>
        }
        <div class="px-2">
          <div class="w-full h-1 bg-slate-500 opacity-20 rounded"></div>
        </div>

        <footer>
          <div class="container px-5 py-5 mx-auto flex justify-between">
            <div class="text-xl">Total:</div>
            <div class="text-xl text-slate-700 border border-b-slate-500"> {{subtotal | currency}} </div>
          </div>
          <div class="container px-5 py-5">
            <button [disabled]="userCart.length === 0"
            class="w-full flex items-center justify-center text-white text-lg bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded-full shadow-xl disabled:bg-green-700">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
            </svg>
            Realizar venta
          </button>
          </div>
        </footer>

      </div>

      <!-- <div class="border-2 border-slate-600 rounded h-full flex  justify-center">
        <h1 class="text-lg text-gray-900">Total</h1>
      </div> -->

    </div>
  </div>
</section>


